<div class="tab">
    <button class="tablinks" data-bs-toggle="offcanvas" data-bs-target="#controlmenu">☰ Chart Options</button>
    <button class="tablinks" onclick="showChart(event,'chart')">Coverage Plot</button>
    <button class="tablinks" onclick="showChart(event,'table_id')">Summary Information</button>
    <button class="tablinks" onclick="showChart(event,'about_id')">About</button>
</div>

<div id="chart" class="chart-container" style="width:100%; height: 900px;"></div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="controlmenu">

    <div class="offcanvas-header">
        <h5>Chart Options</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" aria-labelledby="controlmenu"></button>
    </div>

    <div class="offcanvas-body">
        <div class="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#general" aria-expanded="true" aria-controls="general">
                        General   
                    </button>
                </h2>
            <div id="general" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    <label for="samples">Samples:</label>
                    <select id="selectedsamples" class="selected-samples" multiple="multiple" style="width: 75%" >
                        {% for id, sample in samples_name.items() %}
                            <option value={{sample}}>{{sample}}</option>
                        {% endfor %}
                    </select>
                </div>
              </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#chartproperties" aria-expanded="false" aria-controls="chartproperties">
                        Chart Properties
                    </button>
                </h2>
            <div id="chartproperties" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <div>Renderer  
                        <select id="renderenv" onchange="renderenv()" style="width: 40%">
                            <option value="svg" >svg</option>
                            <option value="canvas" selected>canvas</option>
                        </select>
                    </div>
                    <p></p>
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="toggledarkmode">Dark Mode</label>
                        <input class="form-check-input" type="checkbox" id="toggledarkmode" unchecked>
                    </div>
                    <p></p>
                    <div>
                        <label class="form-label">Height</label> 
                        <input type="range" class="form-range" value="15" min="1" max="70" step="1" onchange="updateChartHeight(this.value);">
                        <output style="display: block; text-align:center;" type="text" id="chartheight">19<span>%</span></output>
                    </div>
                    <div>
                        <label class="form-label">Left</label> 
                        <input type="range" class="form-range" value="5" min="1" max="50" step="1" onchange="updateChartLeft(this.value);">
                        <output style="display: block; text-align:center;" type="text" id="chartleft">5<span>%</span></output>
                    </div>
                    <div>
                        <label class="form-label">Right</label> 
                        <input type="range" class="form-range" value="5" min="1" max="50" step="1" onchange="updateChartRight(this.value);">
                        <output style="display: block; text-align:center;" type="text" id="chartright">5<span>%</span></output>
                    </div>
                    <div>
                        <label class="form-label">Top</label> 
                        <input type="range" class="form-range" value="4" min="1" max="10" step="1" onchange="updateChartTop(this.value);">
                        <output style="display: block; text-align:center;" type="text" id="charttop">4<span>%</span></output>
                    </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#genefeatures" aria-expanded="false" aria-controls="genefeatures">
                        Gene Features
                    </button>
                </h2>
                <div id="genefeatures" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="togglegenelabel">Show Gene Label</label>
                            <input class="form-check-input" type="checkbox" id="togglegenelabel" checked>
                        </div>
                        <div>
                            <label class="form-label">Height</label> 
                            <input type="range" class="form-range" value="15" min="1" max="50" step="1" onchange="updateGeneFeatureHeight(this.value);">
                            <output style="display: block; text-align:center;" type="text" id="genefeatureheight">15<span>%</span></output>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#axis" aria-expanded="false" aria-controls="axis">
                        Axis
                    </button>
                </h2>
                <div id="axis" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p>Scale  
                            <select id="scale" onchange="setScale()" style="width: 25%">
                                <option value="value" >Linear</option>
                                <option value="log" selected>Log</option>
                            </select>
                        </p>
                        <p> 
                            <form id="ymaxform">
                                <label for="ymaxform">yMax </label>
                                <input type="number" id="ymax" value=100000 style="width: 30%">
                                <input type="button" onclick="setYMax()" value="Set yMax">
                            </form>
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#tooltip" aria-expanded="false" aria-controls="tooltip">
                        Tooltip
                    </button>
                </h2>
                <div id="tooltip" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="toggletooltip">Show Tooltip</label>
                            <input class="form-check-input" type="checkbox" id="toggletooltip" checked>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#datazoom" aria-expanded="false" aria-controls="datazoom">
                        Data Zoom
                    </button>
                </h2>
                <div id="datazoom" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="toggleslider">Slider</label>
                            <input class="form-check-input" type="checkbox" id="toggleslider" checked>
                        </div>
                        <form id="dataZoom">
                            <label for="start_pos">Start Pos</label><br>
                            <input type="number" id="start_pos" value=1><br>
                            <label for="start_pos">End Pos</label><br>
                            <input type="number" id="end_pos" value={{ref_seq_length}}><br><br>
                            <input type="button" onclick="setDataZoom()" value="Set DataZoom">
                            <input type="button" onclick="resetDataZoom()" value="Reset DataZoom">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="about_id" class="chart-container">
    {{ about_html }}
</div>

<table id="table_id" class="chart-container table table-striped table-hover table-bordered table-responsive-md">
    <tr class="table-dark">
        <th>Sample Name</th>
        <th>Mean Coverage</th>
        <th>Median Coverage</th>
        <th>Genome Coverage(>= 10x)</th>
        <th>Low Coverage Positions (< 10X) </th>
        <th>No Coverage Positions (0X)</th>
        <th>Low Coverage Regions (< 10X)</th>
        <th>No Coverage Regions (0X)</th>
    </tr>
    {% for data_info in coverage_stat %}
        <tr>
            <td>{{ data_info[0] }}</td>
            <td>{{ data_info[1] }}</td>
            <td>{{ data_info[2] }}</td>
            <td>{{ data_info[3] }}</td>
            <td>{{ data_info[4] }}</td>
            <td>{{ data_info[5] }}</td>
            <td>{{ data_info[6] }}</td>
            <td>{{ data_info[7] }}</td>
        </tr>
    {% endfor %}
</table>