<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WGS Coverage Plot</title>
    <script>{{ lodash_js }}</script>
    <style>{{ bootstrap_css }}</style>
    <script>{{ jquery_js }}</script>
    <script>{{ bootstrap_js }}</script>
    <script>{{ echarts_js }}</script>
    <style>{{ select2_css }}</style>
    <script>{{ select2_js }}</script>
    {% block style %}
        {% include "styles/styles.css" %}
    {% endblock %}
</head>
<body>
    {% block content%}
        {% include "control_menu_design.html" %}
    {% endblock %}
    <script>
        (function() {
            containers = document.getElementsByClassName("chart-container");
            if(containers.length > 0) {
                containers[0].style.display = "block";
            }
        })()
        function showChart(evt, chartID) {
            let containers = document.getElementsByClassName("chart-container");
            for (let i = 0; i < containers.length; i++) {
                    containers[i].style.display = "none";
            }
            let nav_links =document.getElementsByClassName("nav-link");
            for (let i = 0; i < nav_links.length; i++) {
                nav_links[i].className = "nav-link";
            }
            document.getElementById(chartID).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
    <script type="text/javascript">
        {% include "js/wgscovplot.js" %}
    </script>
    <script>
        function updateChartDivSize() {
            let BOTTOM_PADDING = 20;
            let top = $chart.getBoundingClientRect().top;
            let height = window.innerHeight - top - BOTTOM_PADDING;
            if (height < 300) {
                height = 300;
            }
            $chart.style.height = height + 'px';
            chart.resize();
        }
        window.addEventListener("resize", updateChartDivSize);
        document.addEventListener("DOMContentLoaded", function(event) {
            var $chart = document.getElementById('chart');
            window.$chart = $chart;
            var chart = echarts.init($chart, 'white', {renderer: 'canvas'});
            window.chart = chart;
            updateChartDivSize();
            var initial_samples = _.slice(window.samples, 0, default_num_chart)
            var initial_depths =[]
            var initial_variants = []
            initial_samples.forEach(sample => {
                initial_depths.push(window.depths[sample]);
                initial_variants.push(window.variants[sample]);
            })
            selectDefaultSamples(initial_samples)
            chart.setOption(option = getCoverageChartOption(initial_samples, initial_depths, initial_variants));
            chartDispatchDataZoomAction()
        })
    </script>
</body>
</html>