<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WGS Coverage Plot</title>
    <script>{{ lodash_js }}</script>
    <style>{{ bootstrap_css }}</style>
    <script>{{ jquery_js }}</script>
    <script>{{ bootstrap_js }}</script>
    <script>{{ echarts_js }}</script>
    <style>{{ select2_css }}</style>
    <script>{{ select2_js }}</script>
    {% block style %}
        {% include "styles/styles.css" %}
    {% endblock %}
</head>
<body>
    {% block content%}
        {% include "control_menu_design.html" %}
    {% endblock %}
    <script>
        (function() {
            containers = document.getElementsByClassName("chart-container");
            if(containers.length > 0) {
                containers[0].style.display = "block";
            }
        })()
        function showChart(evt, chartID) {
            let containers = document.getElementsByClassName("chart-container");
            for (let i = 0; i < containers.length; i++) {
                    containers[i].style.display = "none";
            }
            let tablinks =document.getElementsByClassName("tablinks");
            for (let i = 0; i < tablinks.length; i++) {
                tablinks[i].className = "tablinks";
            }
            document.getElementById(chartID).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
    <script type="text/javascript">
        {% include "js/wgscovplot.js" %}
    </script>
    <script>
        function updateChartDivSize() {
            var BOTTOM_PADDING = 20;
            var top = $chart.getBoundingClientRect().top;
            var height = window.innerHeight - top - BOTTOM_PADDING;
            if (height < 300) {
                height = 300;
            }
            $chart.style.height = height + 'px';
            chart.resize();
        }
        window.addEventListener("resize", updateChartDivSize);
        document.addEventListener("DOMContentLoaded", function(event) {
            updateChartDivSize();
            chart.resize();
        })
    </script>
</body>
</html>