<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WGS Coverage Plot</title>
    <style>{{ bootstrap_css }}</style>
    <script>{{ jquery_js }}</script>
    <script>{{ popper_js }}</script>
    <script>{{ bootstrap_js }}</script>
    <style>{{ select2_css }}</style>
    <script>{{ select2_js }}</script>
    <script type="text/javascript">
        {% include "js/wgscovplot.bundle.js" %}
    </script>
</head>
<body>

    {% block content%}
        {% include "wgscovplot_controlmenu_gui.html" %}
    {% endblock %}

    <script type="text/javascript">
        {% include "js/wgscovplot.js" %}
    </script>

    <script>
        /**
         * Reference Sequence
         * @type {string}
         */
        window.refSeq = "{{ ref_seq }}";

        /**
         * List of samples name
         */
        window.samples = {{ samples_name }}

        /**
         * Dict of depth data
         * @type {Dict[samples_name: depth_data]}
         */
        window.depths = {{ depth_data }};

        /**
         * Dict of variant data
         * @type {Dict[samples_name: variant_data]}
         */
        window.variants = {{ variant_data }};

        /**
         * Dict of gene or amplicon features
         * @type {Dict[]}
         */
        const geneFeatureAmpliconData = {{ gene_feature_data }}

        /**
         * Dict of Amplicon Depth Coverage
         * @type {Dict[]}
         */
        const ampliconDepthBarData = {{ amplicon_data }}

        /**
         * Whether to plot gene feature or not
         * @type {string}
         * Get from Python Boolean which is True or False
         */
        const geneFeature = "{{ gene_feature }}"

        /**
         * Whether amplicon coverage plot or not
         * @type {string}
         * Get from Python Boolean which is True or False
         */
        const amplicon = "{{amplicon}}"

        const refSeqLength = window.refSeq.length;

        /**
         * A closure lastYAxisScale is used to keep track the scale settings of a last sample on the chart before it was remove
         * @type {function(): string}
         */
        var lastYAxisScale = (function (){
            var yAxisScale;
            return function (){
                return yAxisScale;
            };
        })();

        /**
         * A closure lastYAxisMax is used to keep track the scale settings of a last sample on the chart before it was remove
         * @type {function(): number}
         */
        var lastYAxisMax = (function (){
            var yAxisMax;
            return function (){
                return yAxisMax;
            };
        })();

        /**
         * The max value is set for y-Axis
         * @type {number}
         */
        const yAxisMax = {{ max_depth }}

        function updateChartDivSize() {
            let BOTTOM_PADDING = 20;
            let top = $chart.getBoundingClientRect().top;
            let height = window.innerHeight - top - BOTTOM_PADDING;
            if (height < 300) {
                height = 300;
            }
            $chart.style.height = height + 'px';
            chart.resize();
        }

        window.addEventListener("resize", updateChartDivSize);
        document.addEventListener("DOMContentLoaded", function(event) {
            var $chart = document.getElementById('chart');
            window.$chart = $chart;
            var chart = wgscovplot.echarts.init($chart, 'white', {renderer: 'canvas'});
            window.chart = chart;
            updateChartDivSize();
            initWgscovplotRenderEnv();
        })
        initWgscovplotEvent();
    </script>
</body>
</html>