<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WGS Coverage Plot</title>
    <script type="text/javascript">
        {% include "js/wgscovplot.prod.bundle.js" %}
    </script>
    <style>
        /* nav fixed-top: add padding top to avoid hiding content*/
        #nav-tabContent {
            padding-top: 56px;
        }
        /*Freeze Table Header*/
        #summary-coverage-stat thead tr th{
            position: sticky;
            top: 56px;
            background: #cccccc;
        }
    </style>
</head>
<body>
    {% block content%}
        {% include "wgscovplot_flu_gui.html" %}
    {% endblock %}
    <script type="text/javascript">
        {% include "js/wgscovplot_flu.js" %}
    </script>
    <script>

        window.samples = {{ samples_name }}
        window.segments = {{ segments_name }}
        window.depths = {{ depths_data }}
        window.variants = {{ variants_data }}
        window.refSeq = {{ ref_seq }}
        window.refID = {{ ref_id }}
        window.lowCoverageRegions = {{ low_coverage_regions }}
        window.lowCoverageThreshold = {{ low_coverage_threshold }}
        const primerData = {{ primer_data }}

        function updateChartDivSize() {
            let BOTTOM_PADDING = 20;
            let top = $chart.getBoundingClientRect().top;
            let height = window.innerHeight - top - BOTTOM_PADDING;
            if (height < 300) {
                height = 300;
            }
            $chart.style.height = height + 'px';
            $chart.style.width = window.innerWidth + 'px';
            chart.resize();
        }

        document.addEventListener("DOMContentLoaded", function(event) {
            let $chart = document.getElementById("chart");
            window.$chart = $chart;
            let chart = wgscovplot.echarts.init($chart, "white", {renderer: "canvas"});
            window.chart = chart;
            updateChartDivSize();
            initWgscovplotRenderEnv();
        })
        window.addEventListener("resize", updateChartDivSize);
        initWgscovplotEvent();
    </script>
</body>
</html>