<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WGS Coverage Plot</title>
    <script>{{ lodash_js }}</script>
    <style>{{ bootstrap_css }}</style>
    <script>{{ jquery_js }}</script>
    <script>{{ bootstrap_js }}</script>
    <script>{{ echarts_js }}</script>
    <style>{{ select2_css }}</style>
    <script>{{ select2_js }}</script>
</head>
<body>

    {% block content%}
        {% include "wgscovplot_controlmenu_gui.html" %}
    {% endblock %}

    <script type="text/javascript">
        {% include "js/wgscovplot.js" %}
    </script>

    <script>
        /**
         * Reference Sequence
         * @type {string}
         */
        window.refSeq = "{{ ref_seq }}";

        /**
         * List of samples name
         */
        window.samples = {{ samples_name }}

        /**
         * Dict of depth data
         * @type {Dict[samples_name: depth_data]}
         */
        window.depths = {{ depth_data }};

        /**
         * Dict of variant data
         * @type {Dict[samples_name: variant_data]}
         */
        window.variants = {{ variant_data }};

        /**
         * Dict of gene features
         * @type {Dict[]}
         */
        const geneFeatureData = {{ gene_feature_data }}

        /**
         * Whether to plot gene feature or not
         * @type {boolean}
         */
        const geneFeature = "{{ gene_feature }}"

        /**
         * Default properties for gene features chart, to have best view for the whole chart, user can adjust high, right/left/top margin
         *  'max_grid_height': 80,
         *  'rec_items_height': 12,
         *  'minus_strand_level': 55,
         *  'grid_height': "15%"
         * @type {Dict[]}
         */
        const geneFeatureProperties = {{ gene_feature_properties }}

        /**
         * Whether amplicon plot or normal coverage plot
         * @type {boolean}
         */
        const amplicon = "{{amplicon}}"

        /**
         * Dict of Amplicon Depth Coverage
         * @type {Dict[]}
         */
        const ampliconData = {{ amplicon_data }}
        const refSeqLength = window.refSeq.length;

        /**
         * A closure is used keep track the current number samples in the chart and is used for toggling slider
         * @type {function(): number}
         */
        var gridLength = (function (){
            var len;
            return function (){
                return len;
            }
        })();

        /**
         * A closure is used for initial y_start for rendering gene features
         * @type {function(): number}
         */
        var yStart = (function (){
            var start;
            return function (){
                return start;
            };
        })();

        /**
         * A closure lastYAxisScale is used to keep track the scale settings of a last sample on the chart before it was remove
         * @type {function(): string}
         */
        var lastYAxisScale = (function (){
            var yAxisScale;
            return function (){
                return yAxisScale;
            };
        })();

        /**
         * A closure lastYAxisMax is used to keep track the scale settings of a last sample on the chart before it was remove
         * @type {function(): number}
         */
        var lastYAxisMax = (function (){
            var yAxisMax;
            return function (){
                return yAxisMax;
            };
        })();

        const defaultNumChart = 3;

        /**
         * The max value is set for y-Axis
         * @type {number}
         */
        const maxDepth = {{ max_depth }}

        /**
         * An array of positions of reference sequence which represent in X-Axis
         * @type {<Array<number>}
         */
        var positions = [...Array(refSeqLength + 1).keys()];
        positions.shift();

        /**
         * A closure is used to toggle gene label name
         * @type {function(): boolean}
         */
        var showGeneLabel = (function (){
            var isShow = true;
            return function (){
                return isShow;
            };
        })();

        /**
         * Dict of color for coloring variant position in the chart
         * @type {Dict[]}
         */
        const ntColor = {
            "A": "#ea5e48",
            "C": "#eaca48",
            "G": "#6ad82b",
            "T": "#2b87d8",
        }

        function updateChartDivSize() {
            let BOTTOM_PADDING = 20;
            let top = $chart.getBoundingClientRect().top;
            let height = window.innerHeight - top - BOTTOM_PADDING;
            if (height < 300) {
                height = 300;
            }
            $chart.style.height = height + 'px';
            chart.resize();
        }

        window.addEventListener("resize", updateChartDivSize);
        document.addEventListener("DOMContentLoaded", function(event) {
            var $chart = document.getElementById('chart');
            window.$chart = $chart;
            var chart = echarts.init($chart, 'white', {renderer: 'canvas'});
            window.chart = chart;
            updateChartDivSize();
            initWgscovplotRenderEnv();
        })
        initWgscovplotEvent();
    </script>
</body>
</html>