include CONTRIBUTING.md
include HISTORY.md
include LICENSE
include README.md
include wgscovplot/tmpl/amplicon_covplot_template.html
include wgscovplot/tmpl/covplot_template.html
include wgscovplot/tmpl/control_menu_design.html
include wgscovplot/readme/README.md

recursive-include wgscovplot/tmpl/js *.js
recursive-include wgscovplot/tmpl/styles *.css
recursive-include tests *
recursive-include docs *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include *.md conf.py Makefile make.bat *.jpg *.png *.gif