include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include sequencing_coverage_plot/coverage_plot/tmpl/stack_amplicon_coverage_template.html
include sequencing_coverage_plot/coverage_plot/tmpl/stack_coverage_template.html

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif